$ui-main: #f3f7fb;
$ui-second: white;
$main-darker: #003f7f;
$lines: #e8f0f7;
$soft-shadows: #dde8f3;
$borders: #c5d8ea;
$header-menu: #e6f0f8;
$text-dark: #57616b;
$text-darker: #58616b;
$text-light: #a0a2a4;
$main-cta: #1c69af;
$positive: #57aa32;
$light-main-background: #c5d8ea;
$alert: #f7a328;
$negative: #c02526;
$headline-h0: #1b68af;
$headline-h1: #1c69af;
$hover-dark: #c5d8ea;
$bullet1: #ff595e;
$bullet2: #ffca3a;
$bullet3: #3bbeef;
$bullet4: #7b03fc;

$element-active: rgba(28, 105, 175, 0.24);
$input-disabled-background: #f8f8f8;

$black: #000000;
$white: #ffffff;
