.md-tooltip {
  padding: 10px 15px;
  min-width: 130px;
  max-width: 200px;
  height: auto;
  text-align: center;
  border-radius: $border-radius-base;
  background-color: $white-color !important;
  color: $gray !important;
  font-size: 12px;
  font-weight: 400;

  &:after {
    position: absolute;
    bottom: -5px;
    height: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 5px;
    vertical-align: 0.255em;
    content: "";
  }

  &[x-placement="top"]:after {
    border-top: 5px solid $white-color;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
  }
  &[x-placement="bottom"]:after {
    top: -5px;
    border-top: 0;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $white-color;
    border-left: 5px solid transparent;
  }
  &[x-placement="left"]:after {
    margin-right: 0;
    right: -5px;
    top: 16px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $white-color;
  }
  &[x-placement="right"]:after {
    margin-left: 0;
    left: -5px;
    top: 16px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $white-color;
  }
}

.md-snackbar.bubble {
  background-color: transparent;
  border: none;
  box-shadow: none;

  .md-snackbar-content {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.md-snackbar.bottom {
  bottom: 20px !important;
  max-height: none;
}

.md-dialog.md-theme-default {
  @extend .square-container;
  z-index: 1006 !important;
  & + .md-overlay {
    z-index: 1005 !important;
  }

  .md-dialog-container {
    padding : 20px;
    padding-top: 1px;

    table{
      border : none;
      //border-top: solid 1px #a0a2a4;
    }


    .md-dialog-title {
      @extend .h1;
      text-align: center;
      padding-bottom: 30px;
    }

    .md-dialog-content {
      padding-left: $padding-base-section;
      padding-right: $padding-base-section;
      padding-bottom: $padding-base-section;
    }

    .md-dialog-actions {
      justify-content: center;
      padding-bottom: 40px;

      &.md-dialog-actions .md-button + .md-button {
        margin-left: 20px;
      }
    }
  }
}
