// Switch

.md-switch.md-theme-default {
  margin: 0px 14px 0px 0px !important;
  display: flex;

  .md-switch-container {
    padding-left: 5px;
    padding-bottom: 1px;
    background-color: $text-dark;
    height: 16.67px;
    width: 33.33px;

    .md-ripple {
      display: none;
    }
  }
  .md-switch-thumb {
    box-shadow: none;
    background-color: white;
    width: 10px;
    height: 10px;
  }

  &.md-checked {
    .md-switch-container {
      background-color: $main-cta;
    }
    .md-switch-thumb {
      background-color: white;
      transform: translate3d(16px, 0, 0) !important;
    }

    .md-ripple {
      color: white;
    }
  }

  &.md-disabled {
    .md-switch-container {
      background-color: rgba(0, 0, 0, 0.12);
    }
    .md-switch-thumb {
      background-color: #bdbdbd;
      background-color: var(--md-theme-default-switchvariant, #bdbdbd);
    }
  }
}

//Checkbox

.md-checkbox.md-theme-default {
  .md-checkbox-container {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: 2px solid $borders;

    &:after {
      width: 6px;
      height: 14px;
    }
  }
  &.md-checked {
    .md-checkbox-container {
      background-color: $main-cta !important;
      border-color: $main-cta;
      &:after {
        left: 5px;
        top: 0px;
        border-color: white !important;
      }
    }
  }
}

// Radiobutton
.md-radio.md-theme-default {
  margin-bottom: 8px;
  .md-radio-container {
    border-color: $text-dark;
    width: 16px;
    min-width: 16px;
    height: 16px;
  }

  &.md-checked {
    .md-radio-container {
      border-color: $main-cta;
      background-color: white;

      &:after {
        background-color: $main-cta;
      }
    }

    .md-ripple {
      color: $main-cta;
      display: none;
    }
  }

  &.md-disabled {
    .md-radio-container {
      border-color: $field-disabled-border-color;
    }
    &.md-checked .md-radio-container {
      border-color: $field-disabled-border-color;
      &:after {
        background-color: $field-disabled-border-color;
      }
    }
  }
}
